.x-bd-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
}

.x-bd-links {
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}

.bd-navbar {
background-color: #333333;
font-family: "Open Sans", "DejaVu Sans", sans-serif;
}

#toc {
top: 4rem !important;
}

header > a, a.navbar-brand, a.nav-link {
text-decoration: none;
}
